<div class="px-10">
  <!-- head -->
  <div class="flex justify-between w-full items-center text-center py-6">
    <!-- balank div -->
    <div></div>
    <!-- Search -->
    <div>
      <form class="flex items-center">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <!-- input flied -->
          <input
            class="h-10 w-96 text-right px-4 border rounded-xl border-solid border-slate-300"
            type="text"
          />
        </div>
      </form>
    </div>
    <!-- shopping icon -->
    <div>
      <i class="fa-3x fa fa-shopping-cart" aria-hidden="true"></i>
    </div>
  </div>
  <!-- main -->

  <div
    class="justify-center xl:justify-center grid md:grid-cols-5 gap-4 sm:grid-cols-1"
  >
    <div class="hover:text-white" *ngFor="let item of productItem">
      <mat-card
        class="max-w-sm mr-4 hover:bg-pink-300 rounded-xl shadow-lg flex items-center example-card"
      >
        <img src="{{ item.image }}" alt="Photo of a Shiba Inu" />
        <mat-card-header>
          <div class="pt-2">
            <mat-card-subtitle class="text-lg font-semibold hover:text-white">{{
              item.name
            }}</mat-card-subtitle>
          </div>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
</div>
