<div class="w-full">
  <nav
    class="flex border-2 border-b-blue-500 items-center justify-between flex-wrap bg-green-100 p-4"
  >
    <div class="flex items-center ml-8 space-x-3 flex-shrink-0 text-black mr-6">
      <i
        class="fa fa-american-sign-language-interpreting fa-3x"
        aria-hidden="true"
      ></i>
      <!-- <span class="font-semibold text-xl tracking-tight">Shahid Ali</span> -->
    </div>

    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="flex font-bold text-xl space-x-4 text-black lg:flex-grow">
        <!-- Calculater -->
        <div>
          <a
            routerLink="/calculater"
            routerLinkActive="bg-stone-600 p-2 text-slate-300 rounded-3xl"
            class="hover:text-amber-700"
          >
            Calculater
          </a>
        </div>
        <!-- Shop Products -->
        <div>
          <a
            routerLink="/products"
            routerLinkActive="bg-stone-600 p-2 text-slate-300 rounded-3xl"
            class="hover:text-amber-700"
          >
            Shop Products
          </a>
        </div>
        <!-- Blog -->
        <div>
          <a
            routerLink="/Shipment"
            routerLinkActive="bg-stone-600 p-2 text-slate-300 rounded-3xl"
            class="hover:text-amber-700"
          >
            Blog
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
